/* ===== СБРАСЫВАЮЩИЕ СТИЛИ (RESET) ===== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Удаляем стандартные отступы */
body,
h1, h2, h3, h4, h5, h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Обнуляем списки */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Обнуляем стили ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Обнуляем стили кнопок */
button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

/* Убираем рамку у изображений */
img,
picture {
    max-width: 100%;
    display: block;
    border: 0;
}

/* Наследуем шрифт */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

/* Удаляем выделение синего фона в iOS */
input,
textarea,
button,
select {
    -webkit-tap-highlight-color: transparent;
}

section{
    overflow: hidden;
    width: 100%;
    max-width: 1880px;
    margin: 0 auto;
}

/* Настройка scroll */
html {
    scroll-behavior: smooth;
}

/* Установка базового шрифта и фона */
body {
    min-height: 100vh;
    font-family: var(--font-montserrat), sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #1F1E1E;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
.container {
    max-width: 1338px;
    margin: 0 auto;
    padding: 0 15px;
}
[data-mode="dark"]{
    background: #1F1E1E ;
}

.swiper-button-disabled{
    opacity: .5;
}
.bgBlurBall{
    width: 627.276px;
    height: 589.185px;
    border-radius: 627.276px;
    background: rgba(194, 0, 55, 0.50);
    filter: blur(143.04151916503906px);
    position: fixed;
    top: -155px;
    left: -187px;
    z-index: -10;

}
main{
    /*min-height: 100vh;*/
}