.notFoundSection{
  height: 80vh;
  background-image: url('/images/404BG.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 50px;
}

.homeBtn{
  display: inline-flex;
  height: 57px;
  padding: 17px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 28.5px;
  background: #C20037;
  color: #fff;

}